.cometchat-search-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: var(--cometchat-background-color-01);
}

.cometchat-search-view__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--cometchat-padding-2, 8px) var(--cometchat-padding-4, 16px);
    background: var(--cometchat-background);
    gap: var(--cometchat-padding-3, 12px);
    min-height: 64px;
    border-bottom: 1px solid var(--cometchat-border-color-light, #F5F5F5);
    border-left: 1px solid var(--cometchat-border-color-light, #F5F5F5);
    background: var(--cometchat-background-color-01, #FFF);

}

.cometchat-search-view__title {
    overflow: hidden;
    color: var(--cometchat-text-color-primary);
    text-overflow: ellipsis;
    font: var(--cometchat-font-heading2-bold);
}

.cometchat-search-view__content {
    flex: 1;
    overflow: hidden;
}

.cometchat-search-view__close-button .cometchat-button {
    height: fit-content;
    width: fit-content;
    border: none;
    border-radius: none;
    padding: 0;
    margin: 0;
    background: none;
}

.cometchat-search-view__close-button .cometchat-button__icon {
    background: var(--cometchat-icon-color-primary);
    height: 24px;
    width: 24px;
}
